
input[type=text],
input[type=tel],
input[type=email],
input[type=password] {
    width: 100%; 
    padding: 20px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 720px 23px;
    padding-left: 40px;
    margin-left: 0; 
    cursor: pointer;
}

input[type=text] {
    background-image: url('./images/users.png');
}

input[type=tel] {
    background-image: url('./images/mobile.png');
}

input[type=email] {
    background-image: url('./images/mails.png');
}

input[type=password] {
    background-image: url('./images/passwords.png');
}

/* .container {
    border: 2px solid black;
    padding: 20px; 
} */

label {
    display: block; 
    width: auto;
    color: blue;
    margin-bottom: 10px; 
}

.gender,
input,
select {
    margin-left: 0;
}

.check {
    margin-left: 0; 
}

select {
    width: 100%; 
    padding: 8px;
    color: white;
    background-color: black;
}

p {
    font-weight: bold;
}

.btn {
    padding: 10px;
    width: 70%; 
    font-weight: bold;
    border-radius: 25px;
    background-color: orange;
    margin-top: 10px; 
   
}

.btn:hover
{
    background-color: green;
    color: white;
}

input {
    border: 2px solid black;
}


.correct-input {
    border: 2px solid green;
}

.incorrect-input {
    border: 2px solid red;
}


@media (max-width: 768px) {
    label {
        font-size: 14px; 
    }

    input[type=text],
    input[type=tel],
    input[type=email],
    input[type=password] {
        padding-left: 35px; 
    }
    
    .container {
        padding: 10px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    input[type=text],
    input[type=tel],
    input[type=email],
    input[type=password] {
        padding: 15px; 
        font-size: 14px; 
    }
    
    input[type=submit] {
        padding: 15px;
        
    }

    .btn
    {
        width: 100%;
    }
}

